/*
  Set all elements to have border-box property to ensure border 
  and padding are including in total height and width.
*/
* {
  box-sizing: border-box;
}

body {
  font-family: Garamond;
}

button {
  background-color: #ff0000;
  border: 2px solid #ff0000;
  border-radius: 8px;
  font-family: Palatino;
  font-size: 40px;
}

#container { 
  text-align: center;
}

h2 {
  display: inline;
}

.headers {
  padding-bottom: 15px;
}

.highbound {
  margin-left: 60px;
}

.highhead {
  margin-left: 30px;
}

input {
  background-color: #2E86C1;
  border: 2px solid #2E86C1;
  border-radius: 4px;
  font-size: 40px;
  text-align: center;
  width: 80%;
}

.lowbound {
  margin-right: 60px;
}

.lowhead {
  margin-right: 30px;
}

.randnum {
  background-color: #8000ff;
  border: 2px solid #8000ff;
  border-radius: 4px;
  font-size: 70px;
}

/*
  Clear the flow since columns are floated and treated as if they don’t exist.
*/
.row::after {
	content: "";
	clear: both;
	display: table;
}

div[class*="col-"] {
    float: left;
    padding: 15px;
}

/*
  Determines how much the column should span in a row.
*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
